.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  width: 100%;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.error-msg {
  color: red;
}
.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.secondary-btn {
  width: 100%;
  padding: 12px;
  background: #6c757d;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.secondary-btn:hover {
  background: #5a6268;
}
