
.login-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}


.login-card {
  width: 900px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 12px 30px rgba(0,0,0,0.1);
}


.left-panel {
  background: linear-gradient(135deg, #1ea6a8, #17c0c9);
  padding: 60px;
  color: white;
  position: relative;
}


.left-panel::before {
  content: "";
  position: absolute;
  left: -180px;
  top: -80px;
  width: 550px;
  height: 550px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
}

.left-panel h1 {
  font-size: 32px;
  position: relative;
  z-index: 2;
}


.right-panel {
  padding: 50px;
  align-content: center;
}


.input-group-text {
  background: #e9ecef;
  border: none;
}

.form-control {
  border-left: none !important;
}


button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


@media (max-width: 768px) {
  .login-card {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .left-panel {
    display: none;
  }
}
