<div class="login-container">

  <div class="login-card">


    <div class="left-panel">
      <h1 class="fw-bold">Bienvenido a <br> SafeRoad AI</h1>
      <p>Seguridad vial potenciada con inteligencia artificial</p>
    </div>


    <div class="right-panel">

      <h2 class="text-center mb-4">Iniciar sesión</h2>

      <form (ngSubmit)="login()" style="display: flex; flex-direction: column; gap: 16px;">


        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          <input
            type="email"
            class="form-control"
            placeholder="Correo electrónico"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>


        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <p *ngIf="error" class="text-danger text-center">{{ error }}</p>

        <button class="btn btn-primary w-100" [disabled]="loading">
          <span *ngIf="!loading">Ingresar</span>
          <span *ngIf="loading">⏳ Procesando...</span>
        </button>

      </form>


      <p class="text-center mt-3">
        ¿No tienes cuenta?
        <a routerLink="/register" class="text-primary fw-semibold" style="cursor:pointer;">
          Crear cuenta
        </a>
      </p>

    </div>
  </div>
</div>
