<div class="register-container">
  <div class="register-card row">


    <div class="col-md-5 left-panel">
      <h2>Bienvenido</h2>
      <p>Crea una cuenta para comenzar a utilizar SafeRoad AI .</p>
    </div>


    <div class="col-md-7 right-panel">

      <h3 class="mb-4">Registro</h3>


      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>


      <div *ngIf="success" class="alert alert-success">
        {{ success }}
      </div>

      <form (ngSubmit)="register()">


        <div class="mb-3">
          <label class="form-label">Nombre completo</label>
          <input class="form-control" type="text" [(ngModel)]="name" name="name" placeholder="Tu nombre">
        </div>


        <div class="mb-3">
          <label class="form-label">Correo electrónico</label>
          <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="ejemplo@correo.com">
        </div>


        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="mínimo 6 caracteres">
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
          <span *ngIf="!loading">Crear Cuenta</span>
          <span *ngIf="loading">⏳ Registrando...</span>
        </button>

      </form>

      <p class="mt-4 text-center">
        ¿Ya tienes cuenta?
        <a routerLink="/login">Iniciar sesión</a>
      </p>

    </div>
  </div>
</div>
