.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #c72f39;
}

.map {
  width: 100%;
  height: 300px; /* más pequeño para que quede cómodo */
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
